name: Terraform Module Example Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  terraform_checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        terraform:
          - '1.4.*'
          - '1.12.*'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false

      - name: Terraform Validate
        run: |
          # Loop through the directories in the "examples" directory
          for dir in examples/*; do
            # Check if it's a directory
            if [ -d "$dir" ]; then
              cd $dir
              terraform init -backend=false
              terraform validate
            fi
          done

      - name: Terraform Format
        run: terraform fmt -check -recursive ./examples

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v5 

      - name: Run TFLint
        run: |
          cd ./examples
          tflint --recursive
